<h1><code ng:non-bindable="">odPop</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odpop-page"><p>The <code>odPop</code> service provides a convenient wrapper for proofOfPlay related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you to create a new proof of play campaign. You can add a file that you want to monitor for impressions.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/pop/Campaign/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all of the campagins.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/pop/Campaign/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will remove the campaign.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/pop/Campaign/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function Will retrieve the stats of a proof of play campaign.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/pop/Campaign/Stats
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will allow you to update the settings of your proof of play campaign.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/pop/Campaign/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
