<h1><code ng:non-bindable="">odSlide</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odslide-page"><p>The <code>odSlide</code> service provides a convenient wrapper for slide related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you to create a slide. a slide is a html composite of the the screen.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_get">get(data)</h3>
<div class="get"><div class="get-page"><p>This function will allow you to request a slide.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/Get
</code></pre>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="get-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getsent">getSent(data)</h3>
<div class="getsent"><div class="getsent-page"><p>This function will allow you to get a list of slide that are pending approval.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/GetSentThemes
</code></pre>
</div><h5 id="methods_getsent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getsent-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_importsent">importSent(data)</h3>
<div class="importsent"><div class="importsent-page"><p>This function will allow you to access the slide import request.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/ImportSentTheme
</code></pre>
</div><h5 id="methods_importsent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="importsent-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list the slides.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will allow you to remove a slide.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removesent">removeSent(data)</h3>
<div class="removesent"><div class="removesent-page"><p>This function will allow you to cancel the slide import request.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/RemoveSentTheme
</code></pre>
</div><h5 id="methods_removesent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="removesent-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_resolutions">resolutions(data)</h3>
<div class="resolutions"><div class="resolutions-page"><p>This function will allow you to list supported resolutions.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/Resolutions
</code></pre>
</div><h5 id="methods_resolutions_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="resolutions-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_send">send(data)</h3>
<div class="send"><div class="send-page"><p>With this function you can send a slide to another user with in the open-display playform.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/SendTheme
</code></pre>
</div><h5 id="methods_send_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="send-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_setdir">setDir(data)</h3>
<div class="setdir"><div class="setdir-page"><p>This function will allow you to put a slide in a directory.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/SetDir
</code></pre>
</div><h5 id="methods_setdir_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setdir-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will allow you to update a slide.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Slide/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
