<h1><code ng:non-bindable="">odApplication</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odapplication-page"><p>The <code>odApplication</code> service provides a convenient wrapper for app related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_accesslevels">accessLevels(data)</h3>
<div class="accesslevels"><div class="accesslevels-page"><p>This function gives you a list of access rules that an application can have.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/AccessLevels
</code></pre>
</div><h5 id="methods_accesslevels_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="accesslevels-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_categories">categories(data)</h3>
<div class="categories"><div class="categories-page"><pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/Categories
</code></pre>
</div><h5 id="methods_categories_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="categories-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function lets you create a custom application.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_devlist">devList(data)</h3>
<div class="devlist"><div class="devlist-page"><p>This function will list all custom create applications.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/DevList
</code></pre>
</div><h5 id="methods_devlist_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="devlist-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function list all applications that you have allowed access you your account data. 
The access can be revoked at anytime. the default system applications can not be revoked.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will let you remove the custom application that is located in the users account.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_revokeaccess">revokeAccess(data)</h3>
<div class="revokeaccess"><div class="revokeaccess-page"><p>Every application except the default application can have their access revoked. This gives the user control over his data and who can access it.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/RevokeAccess
</code></pre>
</div><h5 id="methods_revokeaccess_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="revokeaccess-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_setgroup">setGroup(data)</h3>
<div class="setgroup"><div class="setgroup-page"><p>With this function you will be able to grant access to a list of groups. A subuser can be in a group that has access to a specified application.</p>
<p>So this function is used to allow subusers to a specified application.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/SetGroup
</code></pre>
</div><h5 id="methods_setgroup_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setgroup-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function lets you update the custom applications settings.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Applications/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
