<h1><code ng:non-bindable="">odGroups</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odgroups-page"><p>The <code>odGroups</code> service provides a convenient wrapper for group related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addusertogroup">addUserToGroup(data)</h3>
<div class="addusertogroup"><div class="addusertogroup-page"><p>This function allows you to add a user to a group.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Groups/AddUserToGroup
</code></pre>
</div><h5 id="methods_addusertogroup_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="addusertogroup-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you to create a group. Groups are used for accessing data and functions. 
You can restrict access to part of the system and allow read and write privileges to files,folders,slides,devices.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Groups/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all of the groups.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Groups/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will remove the group.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Groups/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removeuserfromgroup">removeUserFromGroup(data)</h3>
<div class="removeuserfromgroup"><div class="removeuserfromgroup-page"><p>This function will remove the user from the group.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Groups/RemoveUserFromGroup
</code></pre>
</div><h5 id="methods_removeuserfromgroup_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="removeuserfromgroup-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updateitem">updateItem(data)</h3>
<div class="updateitem"><div class="updateitem-page"><p>This function will allow you to set a group or groups to a file, folder, device, playlist or slide.</p>
<p>The following types are available: 
File, Slide, Device, FileFolder, SlideFolder, DeviceFolder, Playlists</p>
<p>Items are the ids of the type you want to set the groups to.
Groups are a list of group ids</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Groups/UpdateItem
</code></pre>
</div><h5 id="methods_updateitem_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updateitem-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
