<h1><code ng:non-bindable="">odFiles</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odfiles-page"><p>The <code>odFiles</code> service provides a convenient wrapper for file related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>With this function you can list all of the files.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Files/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data object with the following properties.</p>
<ul>
<li><strong>ResultsStart</strong> -[default=0] The starting point for the results.</li>
<li><strong>ResultsLimit</strong> - [default=25] The results limit.</li>
<li><strong>Filter</strong> - {Object} Filter object for sql where clause.<ul>
<li><strong>Key</strong> - ID, Name, Width, Height,Type, Status, TimeStamp.</li>
<li><strong>Selector</strong> -  and, or. <strong><em>[default = and]</em></strong></li>
<li><strong>Operator</strong> - like, not like, =, !=, &lt;, &gt;. <strong><em>[default = =]</em></strong> </li>
<li><strong>Sort</strong> -  ASC, DESC. <strong><em>[default = DESC]</em></strong></li>
<li><strong>Value</strong> - Value for where clause.</li>
</ul>
</li>
</ul>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>With this function you can remove a file.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Files/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>With this function you can update a existing file.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Files/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_uploadurl">uploadURL()</h3>
<div class="uploadurl"><div class="uploadurl-page"><p>This function will give you a upload URL and UI URL.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Files/UploadURL
</code></pre>
</div></div>
</li>
</ul>
</div>
</div>
