<h1><code ng:non-bindable="">odDevice</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-oddevice-page"><p>The <code>odDevice</code> service provides a convenient wrapper to interact with the existing devices.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>With this function you can create a new device.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Devices/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data object with the following properties.</p>
<ul>
<li><strong>Name</strong> - <code>{string}</code> - The name of new device.</li>
<li><strong>Key</strong> - <code>{string}</code> - The unique key of the device that you want to register.
This key will be displayed on screen of your device.</li>
<li><strong>Tags</strong> - <code>{array}</code> - An array of tags that will be attached to the device. 
You can use tags to organize devices and easily publish/add playlist on tag bases.</li>
<li><strong>Tree</strong> - <code>{number}</code> - [default=0] The tree id where the device will be attached.</li>
</ul>
</div></td></tr></tbody></table><h5 id="methods_create_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="create-page"><p>Promise that will be resolved when the request is fired. The value this
promise will be resolved with is the return value of the <code>fn</code> function.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_globalsettings">globalSettings(token)</h3>
<div class="globalsettings"><div class="globalsettings-page"><p>This function will retrieve the global settings.</p>
</div><h5 id="methods_globalsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="globalsettings-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_info">info(token)</h3>
<div class="info"><div class="info-page"><p>This function will retrieve the information about the device.</p>
</div><h5 id="methods_info_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="info-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(token)</h3>
<div class="list"><div class="list-page"><p>This function will list all devices you have access to.</p>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_rebootreset">rebootReset(token)</h3>
<div class="rebootreset"><div class="rebootreset-page"><p>You can use this function to reboot or reset the device.</p>
</div><h5 id="methods_rebootreset_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="rebootreset-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(token)</h3>
<div class="remove"><div class="remove-page"><p>This function allows you to remove a device.</p>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_setfolder">setFolder(token)</h3>
<div class="setfolder"><div class="setfolder-page"><p>With this function you will be able to move the device to a folder.</p>
</div><h5 id="methods_setfolder_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setfolder-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(token)</h3>
<div class="update"><div class="update-page"><p>This function will allow you to update the device info and settings. DeviceVolume will overrule the global settings.</p>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updateglobalsettings">updateGlobalSettings(token)</h3>
<div class="updateglobalsettings"><div class="updateglobalsettings-page"><p>This function will update the global device settings.</p>
</div><h5 id="methods_updateglobalsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>token</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updateglobalsettings-page"><p>session token retrieved from the Open Display Api.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
