<h1><code ng:non-bindable="">odAuthenticate</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odauthenticate-page"><p>The <code>odAuthenticate</code> service provides a convenient wrapper for authentication.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_auth">auth(data)</h3>
<div class="auth"><div class="auth-page"><p>This function is used for server side authentication you will need to send the AppID and private key to the api. 
On server response you will receive the token. this token allows for you to make request on behalf of the client.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Authenticate/Auth
</code></pre>
</div><h5 id="methods_auth_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="auth-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_check">check(data)</h3>
<div class="check"><div class="check-page"><p>To check if the token is still valid you use this function.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Authenticate/check
</code></pre>
</div><h5 id="methods_check_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="check-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_login">login(data)</h3>
<div class="login"><h5 id="methods_login_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="login-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_logout">logout(data)</h3>
<div class="logout"><div class="logout-page"><p>When this function is called the token is destroyed.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Authenticate/Logout
</code></pre>
</div><h5 id="methods_logout_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="logout-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
