<h1><code ng:non-bindable="">odLog</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odlog-page"><p>The <code>odLog</code> service provides a convenient wrapper for log related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will allow you to list all actions.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Log/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_login">login(data)</h3>
<div class="login"><div class="login-page"><p>This function will allow you to list the logins.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Log/Login
</code></pre>
</div><h5 id="methods_login_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="login-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
