<h1><code ng:non-bindable="">odAccount</code>
<div><span class="hint">service in module <code ng:non-bindable="">od.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="od-api-odaccount-page"><p>The <code>odAccount</code> service provides a convenient wrapper for account related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_globalsettings">globalSettings(data)</h3>
<div class="globalsettings"><div class="globalsettings-page"><p>This function allows you to retrieve the stored data that you have put inside a class.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/GetGlobalSettings
</code></pre>
</div><h5 id="methods_globalsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="globalsettings-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_info">info(data)</h3>
<div class="info"><div class="info-page"><p>This function will return the account information, stats and branding.</p>
</div><h5 id="methods_info_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="info-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_settings">settings(data)</h3>
<div class="settings"><div class="settings-page"><p>This function allows you to retrieve the stored data that you have put inside a class.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/Settings
</code></pre>
</div><h5 id="methods_settings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="settings-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>With this function you can update the profile information of the user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updateglobalsettings">updateGlobalSettings(data)</h3>
<div class="updateglobalsettings"><div class="updateglobalsettings-page"><p>With this function you can update the profile information of the user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/Update
</code></pre>
</div><h5 id="methods_updateglobalsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updateglobalsettings-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatepassword">updatePassword(data)</h3>
<div class="updatepassword"><div class="updatepassword-page"><p>This function allows you to update the password of the user. OldPassowrd is the current password that the user is using. 
Password is the new password and PasswordCheck is the validation of a password match.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/UpdatePassword
</code></pre>
</div><h5 id="methods_updatepassword_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updatepassword-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatesettings">updateSettings(data)</h3>
<div class="updatesettings"><div class="updatesettings-page"><p>We allow a flexible way of storing custom data to a profile the developer can specify a class and store an object in to this class. 
The class and data structure is up to the developer to decide.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Account/UpdateSettings
</code></pre>
</div><h5 id="methods_updatesettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updatesettings-page"><p>data options object.</p>
<pre><code>angular.module(&#39;updateAccountExample&#39;, [&#39;od.account&#39;])
    .controller(&#39;ExampleController&#39;, [&#39;odAccount&#39;, function(odAccount) {
        var data = {
            Class: &quot;Main&quot;,
            Data: {}
        };

        // Update custom settings
        odAccount.updateSettings(data).then(function(response) {
            console.log(&#39;settings are succesfully updated!&#39;);
        });
    }]);

// Request object
RequestData: {
    Class: &quot;Main&quot;,
    Data: {},
    SubAccountID: 0
};


// Response object
Response: {
    ApiInfo: {
        ApiVersion: 2,
        ServerTime: 1430387863
    },
    Session: {
        Token: &quot;&quot;,
        UserType: &quot;User&quot;,
        SubAccountID: 0,
        AccountID: 60,
        UserName: &quot;useremail@domain.com&quot;
    },
    ResponseHead: {
        Code: 200,
        Message: &quot;OK&quot;
    },
    ResponseBody: []
};
</code></pre></div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
